<div class="home-page">
    <div class="welcome">
        <h1>Welcome movies maniacs!!!</h1>
        <h3>Add your favorite movies and have a great time with other cinema enthusiasts.</h3>
    </div>
    <div class="recent-posts">
        <div class="info">
            <h3>Recent movies</h3>
            <a routerLink="/dashboard">Browse more movies...</a>
        </div>
        <app-no-movies *ngIf="noMovies" />
        <app-loading-spinner *ngIf="isLoading" />
        <ul class="card-list" *ngIf="!noMovies && !isLoading">
            <li class="card" *ngFor="let movie of movies">
                <div class="media">
                    <img src={{movie.imageUrl}} alt="star wars image">
                </div>
                <div class="card-info">
                    <h3>{{movie.title}}</h3>
                    <h5>{{movie.director}} <span>{{movie.year}}</span></h5>
                    <p>{{movie.genre}}</p>
                    <a [routerLink]="['/', 'movie-details', movie._id]">Details</a>
                </div>
            </li>
        </ul>
    </div>
</div>
