<div class="nav">
    <div class="logo">
      <img class="mini-logo" src="assets/film-cinema-icon-hollywood-film-and-television-creative-music-logo-f7017785ea68629431cc16a25bc42dc2.png">
        <a href="">ShowTime <span></span></a>
    </div>
    <nav>
        <ul class="nav-btns">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/dashboard">Movies</a></li>
            <li><a routerLink="/movie-create" *ngIf="isLoggedIn">Add Movie</a></li>
            <li><a routerLink="/login" *ngIf="!isLoggedIn">Login</a></li>
            <li><a routerLink="/register" *ngIf="!isLoggedIn">Register</a></li>
            <li><a routerLink="/home" (click)="logoutHandler()" *ngIf="isLoggedIn">Logout</a></li>
            <li><a routerLink="/my-profile" *ngIf="isLoggedIn">My Profile</a></li>
        </ul>
    </nav>
</div>
